{% extends "base.html" %}
{% block title %}Смена пароля пользователя{% endblock title %}

{% block content %}
    <div id="bslt">
        <div class="container">
            <div id="bslt-row" class="row justify-content-center align-items-center">
                <div id="bslt-column" class="col-md-6">
                    <div id="bslt-box" class="col-md-12">
                        <form id="bslt-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">{{ caption }}</h3>
                                      {{ non_field_errors }}
                                        {% for field in form.visible_fields %}
                                          <div class="form-group">
                                            {{ field }}{{ field.errors }}
                                          </div>
                                        {% endfor %}
                            <div class="text-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Изменить пароль">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}